version: '3.1'

services:
  livedivulgador:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - db
    env_file:
      - .env
    restart: always

  db:
    build:
      context: ./docker/
      dockerfile: database.dockerfile
    environment:
      MARIADB_USER: ${DATABASE_USER}
      MARIADB_PASSWORD: ${DATABASE_PASSWORD}
      MARIADB_DATABASE: ${DATABASE}
    volumes:
      - mariadb_data:/var/lib/mysql/
    restart: always

volumes:
  mariadb_data:
