<!DOCTYPE html>
<html lang="pt">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="LiveDivulgador">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="{{url_for('static', filename='css/index.css')}}" rel="stylesheet">

    <title>LiveDivulgador</title>

</head>

<body>
    
    <div id="liveapp" class="container py-5">
        <div class="row text-center  d-flex justify-content-center">
            <div @click="change_instruction('insert')" class="feature bg-primary bg-gradient text-white rounded-3 mb-3" data-bs-toggle="tooltip" data-bs-placement="bottom" title="INSERT">
                <i class="bi bi-plus"></i>
            </div>
            &nbsp;
            <div @click="change_instruction('update')" class="feature bg-primary bg-gradient text-white rounded-3 mb-3" data-bs-toggle="tooltip" data-bs-placement="bottom" title="UPDATE">
                <i class="bi bi-pencil-square"></i>
            </div>
        </div>

        <div class="row mt-5 text-center">
            <div class="col">
                <form v-on:submit.prevent="validate" class="row g-3">
                    
                    <div class="col-lg-4">
                        <div class="form-floating mb-3 ">
                            <input v-model="twitch_name" v-on:change="get_twitch_id" type="text" class="form-control" id="twitch_name" placeholder="Nome do canal" required>
                            <label for="twitch_name">Twitch</label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-floating mb-3 ">
                            <input type="text" class="form-control" v-model="twitch_id" id="twitch_id" placeholder="ID" required>
                            <label for="twitch_id">Twitch ID</label>
                            
                            
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-floating mb-3 ">
                            <input v-model="twitter" type="text" class="form-control" id="twitter" placeholder="Arroba do Twitter" :required="instruction=='insert' ? true : null">
                            <label for="twitter">Twitter</label>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="form-floating mb-3">
                            <select v-model="allow_print" class="form-select" id="floatingSelect" :required="instruction=='insert' ? true : null">
                                <option selected disabled value="">Selecione uma opção</option>
                                <option value="TRUE">Sim</option>
                                <option value="FALSE">Não</option>
                            </select>
                            <label for="floatingSelect">Permite o print?</label>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="form-floating mb-3">
                            <select v-model="category" class="form-select" id="floatingSelect" :required="instruction=='insert' ? true : null">
                                <option selected disabled value="">Selecione uma opção</option>
                                <option value="code">Ciência e Tecnologia</option>
                                <option value="art">Artes/Artesanato</option>
                            </select>
                            <label for="floatingSelect">Categoria</label>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="form-floating mb-3 ">
                            <input v-model="hashtags" type="text" class="form-control" id="hashtags" placeholder="Hashtags" :required="instruction=='insert' ? true : null">
                            <label for="twitter">Hashtags</label>
                        </div>
                    </div>

                    <div v-if="!is_valid" class="d-grid d-md-block"><button class="btn btn-success btn-lg" id="submitButton" type="submit">Validar</button></div>
                    <div v-else class="d-grid d-md-block"><button class="btn btn-secondary btn-lg" id="submitButton" type="submit">Limpar</button></div>
                </form>

            </div>
        </div>

        <!-- CRÉDITOS PARA: https://codepen.io/antoineneff/pen/OMegNx -->
        <div class="row mt-5">
            <div class="col">
                <div class="console">
                    <div class="consolebody">
                        <p v-if="!is_valid" style="color: #f00;">>&nbsp;[[command]]</p>
                        <p v-else style="color: #63de00;">>&nbsp;[[command]]</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
</body>

</html>